.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 60px;
  background: #0a192f;
  box-sizing: border-box;
}

/* LOGO */
.logo {
  font-size: 28px;
  font-weight: 900;
  letter-spacing: 2px;
  color: white;
  cursor: pointer;
}

.logo span {
  color: #64ffda;
}

/* LINKS */
.nav-links {
  list-style: none;
  display: flex;
  gap: 35px;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  position: relative;
  padding-bottom: 4px;
  transition: 0.2s;
}

.nav-links a:hover {
  color: #64ffda;
}

/* ACTIVE */
.nav-links a.active {
  color: #64ffda;
}

.nav-links a.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #64ffda;
}
